# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
venv
env/
.env

# Data files
#*.csv
#*.xlsx
#*.sql

# Logs
*.log

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
.vs/

.toml
.streamlit/secrets.toml
ca.pem